.header__logo {
    max-width: 176px;
    max-height: 52px;
    align-self: flex-start;
}

.header__logo:hover {
    transition: transform .4s ease-out;
    opacity: .35;
}

@media screen and (max-width: 1279px) {
    .header__logo {
        min-width: 176px;
        min-height: 52px;
    }
}

@media screen and (max-width: 1023px) {
    .header__logo {
        min-width: 176px;
        min-height: 52px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        min-width: 142px;
        min-height: 42px;
    }
}

